body{
  margin: 0;
  text-align: center;
}
.h1{
  font-family: 'Sacramento', cursive;
}
.h2{
  font-family: 'Montserrat', sans-serif;
}
.h3{
  font-family: 'Merriweather', serif;
}
.tail{
  font-size: 50px;
}
.box0{
  background-color: #99f3bd;
}
.logo{
  width: 100px;
  position: relative;
  bottom: 530px;
  right: 990px;
}
.header{
  text-decoration: underline;
  font-size: 30px;
}
.bottom-cloud{
  position: relative;
  bottom: 360px;
  right: 80px;
}
.top-cloud{
  position: relative;
  top: 100px;
  left: 380px;
}
.mountain{
  margin:0 0 30px 0;
  position: relative;
  top: 30px;
  right: 30px;
}
.paragraph{
  width: 30%;
  margin: auto;
}
.profile{
  margin: 20px 0 0 0;
}
hr{
  border-color: #d2f6c5;
  border-style: dotted;
  border-width: 6px;
}

.box2{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align:left;
  line-height: 2;
}
.coder{
  width: 50%;
  float: left;
  margin: 0 50px 0 0;
}
.box3{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.execuitor{
  width: 50%;
  float: right;
  margin: 0 90px 0 0;
}
.box4{
  margin: 100px auto 100px auto;
  font-style: italic;
  line-height: 2;
}
.MyButton {
  box-shadow: 0 3px 10px 0 #91b8b3;
background-color: powderblue;
border-radius: 28px;
border:1px solid #566963;
display: inline-block;
cursor: pointer;
color: #de28de;
font-family:'Montserrat', sans-serif;
font-size:17px;
padding:16px 31px;
text-decoration:none;
text-shadow:0 1px 0 #2b665e;
}
.myButton:hover {
background-color:transparent;
}
.myButton:active {
position:relative;
top:1px;
}
.box5{
  background-color: #99f3bd;
  padding: 50px 0 20px;
}
a{
  color: pink;
  margin : 20px 30px;
  text-decoration: none;
}
a:hover{
  color: white;
}
